:root{
    --bg:#fff8ef;
    --wine:#8b0000;
    --gold:#eadcc3;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:var(--bg);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow-x:hidden;
}

.hero{
    width:100%;
    max-width:1400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:40px;
}

.logo{
    font-family:'Cormorant Garamond', serif;
    color:var(--wine);
    font-size:8rem;
    font-weight:700;
    letter-spacing:8px;
    margin-bottom:20px;
}

#envelope-container{
    position:relative;
    width:900px;
    height:900px;
}

.click-text{
    position:absolute;
    top:-45px;
    left:50%;
    transform:translateX(-50%);
    font-family:'Special Elite', cursive;
    color:#7a0000;
    font-size:16px;
    letter-spacing:2px;
    z-index:50;
    animation:pulse 1.6s infinite;
}

#envelope{
    position:absolute;
    width:900px;
    height:900px;
    cursor:pointer;
    z-index:10;
    transition:all .8s ease;
}

#envelope img{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

#paper{
    position:absolute;
    width:900px;
    height:900px;
    left:0;
    top:0;

    opacity:0;
    transform:translateY(120px) scale(.9);

    transition:1s ease;

    z-index:20;
}

#paper img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.paper-content{
    position:absolute;

    top:115px;
    left:165px;

    width:570px;
    height:620px;

    color:#222;

    font-family:'Special Elite', cursive;
    font-size:18px;
    line-height:2.05;
}

#typed-text{
    white-space:pre-line;
}

#envelope-container.open #paper{
    opacity:1;
    transform:translateY(-40px) scale(1);
}

#startBtn{
    margin-top:40px;

    background:linear-gradient(#8b0000,#6a0000);

    color:#eadcc3;

    text-decoration:none;

    font-family:'Cormorant Garamond', serif;

    font-size:2rem;

    padding:18px 60px;

    border-radius:999px;

    border:2px solid #c8ab77;

    opacity:0;

    pointer-events:none;

    transition:.5s;
}

#startBtn.show{
    opacity:1;
    pointer-events:auto;
}

#startBtn:hover{
    transform:translateY(-3px);
}

@keyframes pulse{

    0%{
        opacity:.5;
    }

    50%{
        opacity:1;
    }

    100%{
        opacity:.5;
    }
}